{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                <h2>About Us</h2>
                <p>CodeCraft is your premier destination for top-notch programming language courses, tutorials, and career development resources.
                     Our dedicated team of experts is committed to providing high-quality educational content, practical exercises, 
                     and real-world insights to help you excel in the tech industry. 
                 </p>
                
                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        Pune
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        Support.codecraft@techrel.com <br>
                        sales.codecraft@techrel.com
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                         <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="addet">
                        +91 7038596855 <br>
                        +222-39842-22
                    </div>
                </div>
            </div>
            <div class="col-md-3 glink">

                <ul>
                    <li><a href="/"><i class="fas fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/cources"><i class="fas fa-angle-double-right"></i>Cources</a></li>
                    <li><a href="/blog"><i class="fas fa-angle-double-right"></i>Blog</a></li>
                </ul>
                
            </div>
            <div class="col-md-3 glink">
                <ul>
                    <li><a href="job_post.html"><i class="fas fa-angle-double-right"></i>Job Post</a></li>
                    <li><a href="quize.html"><i class="fas fa-angle-double-right"></i>Quize</a></li>
                    <li><a href="/gallery"><i class="fas fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="/contact_us"><i class="fas fa-angle-double-right"></i>Contact Us</a></li>
            
                </ul>
            </div>
            <div class="col-md-3 tags">
                <h2>Easy Tags</h2>
                <ul>
                    <li>Mern Stack Web Development</li>
                    <li>Mean Stack Web Development</li>
                    <li>Python Development</li>
                    <li>Java Full Stack</li>
                    <li>Web Designing</li>
                    <li>Mobile Application Development</li>
                    
                </ul>
            </div>
        </div>
    </div>
          
</footer>