<!-- service_details.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ service.service_name }} Details</title>
</head>
<body>
    <h1>{{ service.service_name }} Details</h1>
    <div>
        <img src="{{ service.service_icon.url }}" width="200" height="150" alt="">
        <p>Description: {{ service.service_description }}</p>
        <!-- You can display more details about the service here -->
    </div>
</body>
</html>
