<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> CodeCraft | Tutorials </title>

    <link rel="shortcut icon" href="/static/assets/images/fav.jpg">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" />
</head>
{%  include "header.html" %}
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Tutorials</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Tutorials</li>
            </ul>
        </div>
    </div>
</div>

<div class="popular-cources pc2">
    <div class="container">
        <div class="row courc-ro">
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="/static/assets/images/tutorials/tutorial-1.jpg" alt="">
                    <div class="cource-det">
                        <h6>Java Programming</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Prof.Chinmay <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> Feb24- May24</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="/static/assets/images/tutorials/tutorial-2.jpg" alt="">
                    <div class="cource-det">
                        <h6>Python</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Prof.Chinmay <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> Feb24- May24</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="/static/assets/images/tutorials/tutorial-3.jpg" alt="">
                    <div class="cource-det">
                        <h6>HTML</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i>Prof. Aishwarya</li>
                            <li><i class="far fa-calendar-plus"></i> Jan24- Apr24</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="/static/assets/images/tutorials/tutorial-4.jpg" alt="">
                    <div class="cource-det">
                        <h6>CSS</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> Prof. Aishwarya <span>Free</span></li>
                            <li><i class="far fa-calendar-plus"></i> Jan24- Apr24</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div> 


{%  include "footer.html" %}