{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> login | codecraft.com</title>

    <link rel="shortcut icon" href="/static/assets/images/fav.jpg">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" />
</head>

<body>

    <!-- ################# Header Starts Here#######################--->
    {%  include "header.html" %}



    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Log In Here</h2>
                <ul>
                    <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Log In</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ######## Page  Title End ####### -->

    <section class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="/static/assets/images/login.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    {% if messages %}
                       {% for message in messages %}
                         <div class="alert alert-{{message.tags}}">
                           {{ message }}
                          </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log In</legend>
                            {{ form | crispy }}
                        </fieldset>
                        <div class ="form-group">
                            <button class="btn btn-outline-info" type="submit">Log In</button>
                        </div>
                    </form>
                    
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need  An Account ?<a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ################# Our Footer Starts Here#######################--->


    {%  include "footer.html" %}    
    <div class="copy">
        <div class="container">
            <a href="https://onezeroeight.in/">2024 &copy; All Rights Reserved | Designed and Developed by OneZeroEight Ltd.</a>

            <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>

    </div>
</footer>

</body>

<script src="/static/assets/js/jquery-3.2.1.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/script.js"></script>
</html>